#root {
  position: relative;
}

#app-header {
  padding: 1em;
  background-color: #FF6978;
  color: #FFFCF9;
}

#app-content {
  color: #1E555C;
  padding: 1em 1.2em;
}

#app-footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-color: #6D435A;
  color: #FFFCF9;
  font-size: .8em;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h3 button {
  background-color: #B1EDE8;
  border: 0;
  padding: 1em 1.5em;
}

.table div {
  padding: .5em;
  margin: .3em 0;
  box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.3);
  color: #1E555C;
}

.table div.add {
  color: #FF6978;
}