.block {
  width: 96px;
  height: 64px;
  margin-right: -32px;
  margin-bottom: -16px;
  background-repeat: no-repeat;
}

.brick {
  background-image: url("/img/brick.png");
}

.diamond {
  background-image: url("/img/diamond.png");
}

.box {
  background-image: url("/img/box.png");
}

.man-up,
.man-down {
  background-image: url("/img/man-up.png");
}

.man-left {
  background-image: url("/img/man-left.png");
}

.man-right {
  background-image: url("/img/man-right.png");
}
